/* simple selector */
/* id name selector */

/* #para1{
    border: 4px solid black;
    background-color: red;
} */

/* .para{
    background-color: aqua !important;
} */

/* tag name selector */

/* p{
    border: 3px solid red;
    background-color: floralwhite;
} */

/* universal selector */

/* *{
    background-color: bisque;
    border: 1px solid black;
} */

html,
body,
p,section,
article{
    border: 1px solid red;
}

#para2,
article,
.content{
    color:blueviolet;
}