

.mainDiv{
    border: 10px dashed black;
    height: 90vh;
    padding: 20px;
    background-image: url("https://cdn.pixabay.com/photo/2024/01/10/03/29/ai-generated-8498790_1280.jpg"),url("https://cdn.pixabay.com/photo/2024/04/04/03/08/ai-generated-8674235_1280.png");
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-size: 210px 203px,210px 210px;
    background-position: top left,right bottom;
    background-clip: content-box,content-box;
}
.mainDiv>h1{
    text-align: center;
    color: red;
    
}
h1:before{
    content: "* * *";
}
h1:after{
    content:"* * *" ;
}

.para1{
    color: blue;
    line-height: 1.5;
    word-spacing: 5px;
    background-image: url("https://cdn.pixabay.com/photo/2024/03/08/16/22/clouds-8621202_1280.jpg");
    background-repeat: no-repeat;
    background-size: 800px 439px;
    background-position: top center;
    /* background-clip:padding-box; */
}